{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2>
                {% if object %}
                    Edit {{ object.department_name }}
                {% else %}
                    Create New Department
                {% endif %}
            </h2>
        </div>
        
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle"></i> Save
                    </button>
                    <a href="{% url 'store_management:department_list' store_id=store.id %}">
                    <i class="fas fa-arrow-left"></i> Back to Departments
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}