{% extends 'base.html' %}

{% block title %}Store Inventory - {{ block.super }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Store Inventory</h1>
    <ul>
        {% for storeinventory in object_list %}
            <li>
                Store: {{ storeinventory.store }} |
                Product: {{ storeinventory.product }} |
                Quantity: {{ storeinventory.quantity }}
            </li>
        {% empty %}
            <li>No store inventory records found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}